<div class="container" style="width: fit-content">
  <div class="sub_container_position">
    <h4><span>投稿内容編集</span></h4>
    <%= form_with model: @postimage, url: admin_postimage_path(@postimage.id) do |f| %>
    <%= render "layouts/form_errors", model: @postimage %>
    <%= render 'public/postimages/form', f: f %>
    <div class="actions text-center">
      <%= f.submit "編集完了", class: "btn btn-success padding-x" %>
    </div>
    <% end %>

    <div class="d-flex align-items-center justify-content-center">
    <%= link_to  admin_postimage_path(@postimage), class: 'btn btn-primary' do %>
      <span>詳細ページへ</span>
    <% end %>
    <%= link_to  admin_postimage_path(@postimage), class: 'back btn btn-danger' do %>
      <span>戻る</span>
    <% end %>
    </div>
  </div>
</div>
