<div class="container">

  <h4 class="margin-y">投稿詳細</h4>
  <div class='row align-items-center justify-content-center'>
    <div class='col-md-4 admin-item-image' >
      <%= image_tag @postimage.user.get_profile_image(200, 150) %>
    </div>

      <div class='col-md-8 mt-3'>
        <table class="table table-bordered table-light">
          <tr>
            <td><%= link_to(@postimage.user) do %>
            <%= image_tag @postimage.get_image(200, 150) %><br>
            <%= @postimage.user.name %>
          <% end %>
          </td>
            </tr>
          <tr>
            <td class="bg-brown">タイトル</td>
            <td><%= @postimage.title %></td>
          </tr>
          <tr>
            <td class="bg-brown">説明</td>
            <td><%= @postimage.body %></td>
          </tr>
          <tr>
            <td>
              <%= link_to "編集する", edit_admin_postimage_path(@postimage.id), class: "btn btn-success padding-x" %>
            </td>
            <td>
              <%= link_to 'Destroy', admin_postimage_path(@postimage.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            </td>
          </tr>
        </table>

         <div>
          <p>コメント件数：<%= @postimage.comments.count %></p>
          <% @postimage.comments.each do |comment| %>
            <p><%= image_tag comment.user.get_profile_image(50, 50) %></p>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <%= link_to "削除", admin_postimage_comment_path(comment.post_image, comment), method: :delete %>
          <% end %>
        </div>
      </div>
  </div>
</div>
