
  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
      <%= f.label :image, "風景写真を選択", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <%= f.file_field :image, accept: "image/*", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
      <%= f.label :title, "風景写真のタイトル", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
      <%= f.label :body, "風景写真の紹介", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <%= f.text_area :body, placeholder: "ここに説明文を記述します", class: "form-control" %>
    </div>
  </div>

  <!-- 写真の所在地情報の入力 -->
   <div class="form-group row border-bottom pb-3">
     <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
       <%= f.label :address, "写真の所在地", class: "form-label" %>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4">
       <%= f.text_area :address, placeholder: "例:〇〇県〇〇市〇〇町", class: "form-control" %>
     </div>
   </div>


  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
      <p class="label-name">公開・非公開</p>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <span>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active_true, "公開" %>
      </span>
      <span class="margin-x">
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active_false, "非公開" %>
      </span>
    </div>
  </div>

<% if user_signed_in? %>
  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
    <%= f.label :latitude, "緯度", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
    <%= f.number_field :latitude, placeholder: "地域検索で自動入力されます", step: 'any', id: 'latitude_field', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
    <%= f.label :longitude, "経度", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
    <%= f.number_field :longitude, placeholder: "地域検索で自動入力されます", step: 'any', id: 'longitude_field', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
    <%= f.label :search_location, "地域検索", class: "form-label" %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
    <%= text_field_tag :search_location, nil, id: 'search_location_field', class: "form-control" %>

   </div>
  </div>

  <div class="form-group row border-bottom pb-3">
    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2"></div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <button type="button" id="search_button" class="btn btn-primary w-100">検索</button>
    </div>
  </div>
<% end %>