    <% postimages.each do |postimage| %>
          <div class="card mb-4" style="width: auto;">
            <%= link_to postimage_path(postimage.id),data: {"turbolinks"=>false} do %>
              <%= image_tag postimage.get_image(500, 450),
                      class: "img-resize, rounded mx-auto d-block w-100",
                      style: "max-height: 600px; object-fit: contain;" %>
            <% end %>
            <div class="card-body text-center">
              <h4 class="card-title">タイトル:<%= link_to postimage.title,postimage_path(postimage.id) %></h4>
              <h5 class="card-text">投稿者:<%=link_to postimage.user.name,user_path(postimage.user.id) %></h5>
              <p class="card-text">撮影場所:<%= postimage.address %></p>
              <p class="card-text">説明:<%= postimage.body %></p>
              <p class="card-text">
                <div id="favorite_buttons_<%= postimage.id %>" >
                  <%= render "public/favorites/favorite", postimage: postimage %>
                </div>
              </p>
            </div>
          </div>
    <% end %>


