<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% postimages.each do |postimage| %>
      <tr>
        <td><%= link_to(postimage.user) do %>
          <%= image_tag postimage.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to postimage.title,postimage %></td>
        <td><%= postimage.body %></td>
        <!--いいね機能-->
        <td id="favorite_buttons_<%= postimage.id %>" >
            <%= render "favorites/favorite", postimage: postimage %>
        </td>
　　　　<td>
　　　　  <p><%= link_to "#{postimage.comments.count} コメント", postimage_path(postimage.id) %></p>
　　　　</td>
      </tr>
    <% end %>
  </tbody>
</table>