<div class="container">

  <h4 class="margin-y">投稿詳細</h4>
  <div class='row align-items-center justify-content-center'>
    <div class='col-md-4 admin-item-image' >
      <%= image_tag @postimage.user.get_profile_image(200, 150) %>
    </div>

      <div class='col-md-8 mt-3'>
        <table class="table table-bordered table-light">
          <tr>
            <td><%= link_to(@postimage.user) do %>
            <%= image_tag @postimage.get_image(200, 150) %><br>
            <%= @postimage.user.name %>
          <% end %>
          </td>
            </tr>
          <tr>
            <td class="bg-brown">タイトル</td>
            <td><%= @postimage.title %></td>
          </tr>
          <tr>
            <td class="bg-brown">説明</td>
            <td><%= @postimage.body %></td>
          </tr>
          <tr>
            <td>
              <% if @postimage.user == current_user %>
                <%= link_to "編集する", edit_postimage_path(@postimage.id), class: "btn btn-success padding-x" %>
              <% end %>
            </td>
            <td>
              <% if @postimage.user == current_user %>
                <%= link_to 'Destroy', postimage_path(@postimage.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
              <% end %>
            </td>
          </tr>
        </table>
        <div>
          <%= form_with model: [@postimage, @postimage_comment], url: postimage_comments_path(@postimage.id) do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
  </div>
      <div class='row align-items-center justify-content-center' >
         <table>
            <tr>
              <td>
                <p>コメント件数：<%= @postimage.comments.count %></p>
              </td>
            </tr>
            <% @postimage.comments.each do |comment| %>
            <tr>
              <td>
                <p><%= image_tag comment.user.get_profile_image(50, 50) %></p>
                <%= comment.user.name %>
              </td>
              <td>
                 <%= comment.created_at.strftime('%Y/%m/%d') %></br>
                 <%= comment.comment %>
              </td>
              <td>
                </br>
                 <% if comment.user == current_user %>
                   <%= link_to "削除", postimage_comment_path(comment.post_image, comment), method: :delete %>
                 <% end %>
              </td>
            </tr>
            <% end %>
        </table>
      </div>
</div>